body {
	background-color: dimgrey;
}
h1 {
	color: floralwhite
}
p {
	color: cornsilk
}
.banner {
	background-color: white
	opacity:0.5;
	position:relative;
	top: 100px;
	border: solid;
	margin: auto
}