

.wrapper{
	float: left;
	width:90%;
	margin-left: 5%;
	margin-top:200px;
}
.wrapper img{
	width:30%;
	float: left;
    margin-left: 33%;
    margin-top: -15.5%;
}
.wrapper h1{
	display:block;
	margin-top:20%;
	text-align: center;
}
.column{
	float:left;
	width:27%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	background-color: rgba(170,170,170,0);
	color:rgba(0,0,0,0);
	border-radius: 3%;
	padding-bottom: 1.5%;
}
.column hr{
	width: 90%;
	border-top: 1px solid rgba(0,0,0,0);
	margin:auto;
	margin-bottom: 20px;
	margin-top: 5px;
}
.column h1{
	text-decoration: underline;
}
@keyframes colHover {
	from {
		background-color: rgba(170,170,170,0);
		color:rgba(0,0,0,0);
	}
	to {
		background-color: rgba(170,170,170,1);
		color:rgba(0,0,0,1);
	}
}
.column:hover{
	background-color: rgba(170,170,170,1);
	color:rgba(0,0,0,1);
	animation-name:colHover;
	animation-duration:3s;
}

#leftColumn{

/*	                          | TL  |    BL  |   BL  | ML1  |   MR1   |  MR2    | ML2  |  BL   |   BR     |   TR   |    
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 53%, 0 53%, 0 100%, 100% 100%, 100% 0%);
	clip-path: polygon        (0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 53%, 0 53%, 0 100%, 100% 100%, 100% 0%);
*/}
#middleColumn{
	margin: 0px 5% 0px 5%;

}
#rightColumn{

}
